*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header {
    color: rgb(3, 121, 224);
 
     align-items: center;
 justify-content: space-around;
 margin: 50px;

 
 
 }
 
 
 header .container {
     display: flex;
     align-items: center;
     justify-content: space-between;
     color: rgb(7, 7, 7);
  

     
 }
 nav ul {
     list-style: none;
     display: flex;
     align-items: center;
     padding: 30px;
     gap: 50px;
 }
 
 nav ul li a {
     text-decoration: none;
     color: rgb(0, 0, 0);
     font-size: 25px;
     transition: 1,5s;
   
   
 
 }
 .btn1{
    width: 108px;
height: 42px;
border-top-left-radius: 15px;
border-bottom-right-radius: 15px;
background-color:  #CAA892;
color: white;
font-size: 16px;
border: 0px solid;
margin-top: 40px;

 }
 .hero1{
    display: flex;
    margin-bottom: 150px;
 }
 .h3{
    font-size: 20px;
    color:  #646464;
    margin-left: 100px;
 }
 .h1{
    font-size: 72px;
    margin-left: 100px;
    margin-bottom: 50px;
 }
 .yozuv{
    margin-left: 100px;
    color:  #646464;
    margin-bottom: 70px;
 }
 .btn2{
    width: 153px;
height: 50px;
border-top-left-radius: 20px;
border-bottom-right-radius: 20px;
font-size: 20px;
border: 0px solid;
background: #37806B;
color: white;
margin-left: 100px;

 }
 .rasm1{
    width: 502px;
height: 492px;

border-top-left-radius: 100px;
border-bottom-right-radius: 100px;

margin-left: 100px;


 }
 .ota{
    display: flex;
    margin-bottom: 50px;
 }
.messi{
    text-align: center;
    font-size: 48px;
    margin-bottom: 100px;
}
.card{
    width: 425px;
height: 194px;
border-top-left-radius: 60px;
border-bottom-right-radius: 60px;
box-shadow: 0px 8px 20px 0px #00000024;
gap: 5px
;



}
.bilmadm{
    text-align: center;
    font-size: 25px;
    margin: 10px 0px;
}
.lorem{
margin-left: 130px;
font-size: 20px;
}
.hero3{
    display: flex;
    gap: 20px
    ;
    margin-bottom: 200px;

}
.card:hover{
    width: 425px;
    height: 194px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: #CAA892;
    transition: 1s;
}
.yamal{
    text-align: center;
    font-size: 48px;
    margin-top: 150px;
}
.scard{
    width: 185px;
height: 182px;
box-shadow: 0px 13px 16px 0px #0000001A;


border-top-left-radius: 40px;
border-bottom-right-radius: 40px;

}
.hcard{
font-size: 50px;
text-align: center;
}
.pcard{
font-size: 50px;
text-align: center;
}
.hero4{
    display: flex;
    gap: 150px
    ;
    margin-top: 100px;
    margin-bottom: 400px;
}
.scard:hover{
    width: 185px;
    height: 182px;
    border-top-left-radius: 40px;
border-bottom-right-radius: 40px;
color: white;
background-color: #2EB69B;
transition: 1s;
}
.pele{
   
border-top-left-radius: 100px;
border-bottom-right-radius: 100px;
margin-bottom: 50px;

}
.rodri{
    font-size: 18px;
    color: #646464;
    margin-top: 15px;
    margin-bottom: 100px;
}
.btn5{
    width: 271px;
height: 53px;
border-top-left-radius: 25px;
border-bottom-right-radius: 25px;
font-size: 18px;
color: white;
background-color: #37806B;
border: 0px solid;
}
.hero5{
    display: flex;
    gap: 200px
    ;
    margin-top: 100px;
    margin-bottom: 400px;

}
.bolalar{
    color: #646464;
    margin-top: 5px;
    margin-bottom: 100px;
    margin-right: 10px;
}
.hero7{
    display: flex;
    gap: 100px
    ;
}

.otasi{
    color: #646464;
    margin-top: 15px;
   
}
.zorbola{
    margin-top: 10px;
    margin-bottom: 10px;
}
.yomonbola{
    margin-top: 10px;
    margin-bottom: 10px;
}
.icons{
    gap: 10px
    ;
    font-size: 30px;
}